/outputs/
/data/
*creds*
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*cache*

# Distribution / packaging
data/aerial/
data/streetview/
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
archive/
var/
wheels/
pip-log.txt
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.manifest

# Jupyter Notebook
.ipynb_checkpoints/

# Environments
.env
.venv
env/
venv/

# System files
.DS_Store
